.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #091859;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-right: 20px;
}

.toolbar-left,
.toolbar-right {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.toolbar-left li,
.toolbar-right li {
  margin-right: 20px;
}

.toolbar-right {
  margin-left: auto; /* Push the right section to the far right */
}

.toolbar-nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.toolbar-nav a:hover {
  text-decoration: underline;
}
