.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
  width: 100%;

  background-image: url("../assets/blur-hospital.jpg"); /* Replace with the actual path to your image */
  background-size: cover; /* Ensure the image covers the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  color: white; /* Adjust text color for better contrast */
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #000;
}

h2 {
  margin-bottom: 20px;
  color: #000;
}

.user-type-buttons,
.patient-options {
  display: flex;
  gap: 20px;
}

button {
  background-color: #091859;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #132fad;
}
